@page

<div class="modal fade" id="ConfidenceUnverifiedInfo" tabindex="-1" role="dialog" aria-labelledby="ConfidenceUnverifiedInfoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfidenceUnverifiedInfoTitle">Report Confidence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Unverified<br />
                A reporting solution is rated by the confidence in the accuracy of results.  We determine this confidence
                based upon the complexity of the data and the effort put forth to validate the results.  A report that is
                rated Certified has been through rigorus validation by multiple subject matter experts, however an unverified
                report has been through little verification and should not be used for decision making without further verification.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

