<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Genesis HealthCare System Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @* Tooltipster support *@
    <link rel="stylesheet" href="~/css/tooltipster.bundle.min.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">

            @*<div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/genesis.png" alt="Genesis HealthCare System" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">=</span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Catalog/Index">Report Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <i class="fas fa-cart-plus" title="Request this report by adding it to your cart"></i>
        </div>*@
            @*<div class="container">*@
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/genesis.png" alt="Genesis HealthCare System" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbar">
                    <div class="navbar-nav">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Catalog/Index">Report Catalog</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Your Cart</a>
                    </div>
                </div>
            @*</div>*@

            @*</div>*@
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Genesis HealthCare System - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @*Tooltipster Support*@
    <script src="~/js/tooltipster.bundle.min.js"></script>

    <script>
        // https://www.lavillebrule.com/Themes/v1/js/tooltipster-master/
        $(document).ready(function () {
            $('.fas').tooltipster();
            $('.far').tooltipster();
            $('.tooltip').tooltipster();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
